#theText, #theFont, #theSize, #theColor {

}


.canvasFontColor label{
    color: white;

}

.canvasFontColor h4{
color: white;
}

/* h4{
    color: white;
} */

.canvas{
    color: white;
}

.canvasInput input{
    width: 5%;
    display:inline-flex;
    margin-right: 5px;
    margin-left: 5px;
}

.canvasInput .longText{
    width: 20%;
}

.canvasInput button{
    display: inline-flex;
    justify-content: center;
}

.toolbar{
    background-color: gray;
    /* display: inline-block; */
}