#theText, #theFont, #theSize, #theColor {

}

.canvas{
    color: white;
}

.canvasInput input{
    width: 6%;
    display:inline-flex;
    margin-right: 5px;
    margin-left: 5px;
}

.canvasInput label{
    margin: 5px;
}

.canvasInput .fileUpload{
    width: unset;
}

.canvasInput .longText{
    width: 50%;
}

#filename{
    width: 20%;
}

.canvasInput button{
    display: inline-flex;
    justify-content: center;
}

.toolbar{
    background-color: gray;
    display: inline-block;
}


.canvasInput .freedraw{
    width: 25%
}

#freedrawCheckbox{
   width: 1.25em;
   height: 1.25em;
   vertical-align:middle;
}

.canvas.toolbar{
    
}